/*
 *Name: [Gabriel Greenwood]
 *UnityID: [Gbgreenw]
 *Date: [2/19/26]
 *Assignment: [webpages]
 *Description: [Create a website and style it]
 aaaaaaaaaaaaaaaaaaaa
 aaaaaaaaaaaaaaaaaaaaaaaaaa
 aaaaaaaaaaaaaaaaaaaaa
 */
 
p {
    font-family: Times;
    font-size: 16px;
    color: #00ff99;

}

.table-border {
    border:1px solid #000000;
}

#photo-resize {
    max-width:250px;
    max-height: 300px;
}
